.form{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  margin: 5px;
}

.field{
  width: 400px;
  height: 30px;
  outline: none;
  border: 3px solid black;
}

.select{
  width: 200px;
  font-size: 16px;
}

.field::placeholder{
  font-size: 16px;
}

.checkbox {
  appearance: none;
	background-color: #fafafa;
	border: 3px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  margin: 0 3px 0 0 ;
  vertical-align: middle;
}

button{
  margin-top: 50px;
  width: 150px;
  height: 50px;
  background-color: hsla(120, 60%, 40%, 0.8);
  border: none;
  font-size: 20px;
  color: #fafafa;
  outline: none;
}

button:active{
  box-shadow: inset 0 0 10px 0 rgb(94, 93, 93);
  text-shadow: 0 1px 5px rgb(94, 93, 93);
}
